* {
    box-sizing: border-box;
    background: chocolate;

}

#photo-album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    /* grid-template-columns: minmax(auto-fit, 300px) minmax(200px, 1fr) 150px; */
    /* repeat(auto-fit, minmax(240px, 1fr)); */
    /* grid-template-rows: 15% 10% 17.5% 17.5% 17.5% 17.5% 5%; */
    grid-gap: 1rem;
    grid-auto-flow: dense;
    background: chocolate;
    /* grid-template-columns: 0.7fr repeat(2,1fr) 0.7fr;
    grid-template-rows: 0.7fr repeat(2,1fr) 0.5fr; */
    height: 100vh;
    width: 100%;
    font-size: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    grid-template-areas: 
        "hd01 hd01 hd01 hd01 hd01"
        "nv01 nv01 nv01 nv01 nv01"
        "pc01 pc02 pc03 pc04 pc05"
        "pc06 pc07 pc08 pc09 pc10"
        "pc11 pc12 pc13 pc14 pc15"
        "pc16 pc17 pc18 pc19 pc20"
        "ft01 ft01 ft01 ft01 ft01"
    ;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black solid 3px;
}
#header {
    grid-area: hd01;
    background: linear-gradient(to bottom, #33ccff 0%, #cc6600 100%);
    font-size: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 19px;
}

#footer {
    grid-area: ft01;

}

#image-1{
    
    grid-area: pc01;
}

#image-2{
    
    grid-area: pc02;
}
#image-3{
    
    grid-area: pc03;
}
#image-4{
    
    grid-area: pc04;
}
#image-5{
    
    grid-area: pc05;
}
#image-6{
    
    grid-area: pc06;
}

#image-7{
    
    grid-area: pc07;
}

#image-8{
    
    grid-area: pc08;
}

#image-9 {
    
    grid-area: pc09;
}
#image-10{
    
    grid-area: pc10;
}
#image-11{
    
    grid-area: pc11;
}
#image-12{
    
    grid-area: pc12;
}
#image-13{
    
    grid-area: pc13;
}
#image-14{
    
    grid-area: pc14;
}
#image-15{
    
    grid-area: pc15;
}
#image-16{
    
    grid-area: pc16;
}
#image-17{
    
    grid-area: pc17;
}
#image-18{
    
    grid-area: pc18;
}
#image-19{
    
    grid-area: pc19;
}
#image-20{
    
    grid-area: pc20;
}

#nav {
    grid-area: nv01;
    /* background: chocolate; */
    background: linear-gradient(to top, #33ccff -35%, #cc6600 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: underline;
}
img:hover {
    opacity: 0.5;
}

#home {
    background: linear-gradient(to top, #33ccff -35%, #cc6600 100%);
}
#about {
    background: linear-gradient(to top, #33ccff -35%, #cc6600 100%);
}

#contact {
    background: linear-gradient(to top, #33ccff -35%, #cc6600 100%);
}
#home:hover {
    color:turquoise
    
}
#about:hover {
    color:turquoise
}
#contact:hover {
    color:turquoise
}




@media (min-width : 501px) and (max-width:800px) {

    #photo-album {
        display: grid;
        /* grid-template-columns: minmax(auto-fit, 300px) minmax(200px, 1fr) 150px; */
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: repeat(8,1fr);
        /* grid-template-rows: 10% 17.5% 17.5% 17.5% 17.5% 17.5% 10% 10%; */
        /* grid-gap: 1rem; */
        grid-auto-flow: dense;
        /* grid-template-columns: 0.7fr repeat(2,1fr) 0.7fr;
        grid-template-rows: 0.7fr repeat(2,1fr) 0.5fr; */
        height: 100vh;
        width: 100%;
        
        font-size: 18px;;
        
        /* grid-template-areas: 
            "hd01 hd01 hd01 hd01"
            "pc01 pc02 pc03 pc04"
            "pc05 pc06 pc07 pc08"
            "pc09 pc10 pc11 pc12"
            "pc13 pc14 pc15 pc16"
            "pc17 pc18 pc19 pc20"
            "nv01 nv01 nv01 nv01"
            "ft01 ft01 ft01 ft01"
        ; */
        grid-template-areas: 
            "hd01 hd01 hd01 hd01"
            "nv01 pc02 pc03 pc04"
            "nv01 pc06 pc07 pc08"
            "nv01 pc10 pc11 pc12"
            "nv01 pc14 pc15 pc16"
            "pc17 pc18 pc19 pc20"
            "pc05 pc01 pc13 pc09"
            "ft01 ft01 ft01 ft01"
        ;
    }
    #nav {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        font-size: 20px;
        padding-top: 0px;
        
    }
    
    #home {
        background: linear-gradient(to top, #33ccff -35%, #cc6600 100%);
    }


    #home:hover {
        color:turquoise
        
    }
    #about:hover {
        color:turquoise
    }
    #contact:hover {
        color:turquoise
    }
    
    #header {
    font-size: 35px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media (max-width : 500px) {
    #photo-album {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(14, 1fr);
        /* grid-template-rows: 5% 5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 5%; */
        grid-gap: 1rem;
        grid-auto-flow: dense;
        /* grid-template-columns: 0.7fr repeat(2,1fr) 0.7fr;
        grid-template-rows: 0.7fr repeat(2,1fr) 0.5fr; */
        height: 100vh;
        width: 100%;
        
        grid-template-areas: 
            "hd01 hd01"
            "nv01 nv01"
            "pc01 pc02"
            "pc03 pc04"
            "pc05 pc06"
            "pc07 pc08"
            "pc09 pc10"
            "pc11 pc12"
            "pc13 pc14"
            "pc15 pc16"
            "pc17 pc18"
            "pc19 pc20"
            "ft01 ft01"
        ;
    }
    #header {
        font-size: 18px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: black solid 2px;
        }
    #nav {
        font-size: 13px;
    }
    #footer {
        font-size: 18px;
    }
}