* {
    box-sizing: border-box;
}

#photo-album {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7, 1fr);
    /* grid-template-columns: 0.7fr repeat(2,1fr) 0.7fr;
    grid-template-rows: 0.7fr repeat(2,1fr) 0.5fr; */
    height: 100vh;
    /* width: 100%; */
    /* grid-gap: 1rem; */
    grid-template-areas: 
        "hd01 hd01 hd01 hd01 hd01"
        "pc01 pc02 pc03 pc04 pc05"
        "pc06 pc07 pc08 pc09 pc10"
        "pc11 pc12 pc13 pc14 pc15"
        "pc16 pc17 pc18 pc19 pc20"
        "nv01 nv01 nv01 nv01 nv01"
        "ft01 ft01 ft01 ft01 ft01"
    ;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black solid 2px;
}
#header {
    grid-area: hd01;
    background: hotpink;
}
#footer {
    grid-area: ft01;
    background: lightseagreen;
}

#image-1{
    background: lightskyblue;
    grid-area: pc01;
}

#image-2{
    background:hotpink;
    grid-area: pc02;
}
#image-3{
    background: lightskyblue;
    grid-area: pc03;
}
#image-4{
    background: lightskyblue;
    grid-area: pc04;
}
#image-5{
    background: lightskyblue;
    grid-area: pc05;
}
#image-6{
    background: lightskyblue;
    grid-area: pc06;
}

#image-7{
    background: lightskyblue;
    grid-area: pc07;
}

#image-8{
    background: lightskyblue;
    grid-area: pc08;
}

#image-9 {
    background: lightskyblue;
    grid-area: pc09;
}
#image-10{
    background: lightskyblue;
    grid-area: pc10;
}
#image-11{
    background: lightskyblue;
    grid-area: pc11;
}
#image-12{
    background: lightskyblue;
    grid-area: pc12;
}
#image-13{
    background: lightskyblue;
    grid-area: pc13;
}
#image-14{
    background: lightskyblue;
    grid-area: pc14;
}
#image-15{
    background: lightskyblue;
    grid-area: pc15;
}
#image-16{
    background: lightskyblue;
    grid-area: pc16;
}
#image-17{
    background: lightskyblue;
    grid-area: pc17;
}
#image-18{
    background: lightskyblue;
    grid-area: pc18;
}
#image-19{
    background: lightskyblue;
    grid-area: pc19;
}
#image-20{
    background: lightskyblue;
    grid-area: pc20;
}

#nav {
    grid-area: nv01;
    background: indigo;
}